[submodule "DB/svt-db-agent/deps/librdkafka"]
	path = DB/svt-db-agent/deps/librdkafka
	url = git@github.com:confluentinc/librdkafka.git
[submodule "DB/svt-db-agent/deps/libpqxx"]
	path = DB/svt-db-agent/deps/libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "DB/svt-db-agent/deps/nlohmann_json"]
	path = DB/svt-db-agent/deps/nlohmann_json
	url = git@github.com:nlohmann/json.git
