[Unit]
Description=Svt database agent
Requires=kafka.service

[Service]
Type=simple
User=root

#EnvironmentFile=/data/ycorrale/SVTSW/DB/svt-db-agent/SvtDbAgent.conf
WorkingDirectory=/data/ycorrale/SVTSW/DB/svt-db-agent/
ExecStart=/data/ycorrale/SVTSW/DB/svt-db-agent/SvtDbAgent.sh /data/ycorrale/SVTSW/DB/svt-db-agent/configs/SvtDbAgent-dev_config.json

Restart=always
TimeoutStartSec=2
RestartSec=2
LimitMEMLock=infinity

[Install]
WantedBy=default.target


