[Unit]
Description=Wafer Prober agent
Requires=kafka.service
After=kafka.service

[Service]
Type=simple
User=root

WorkingDirectory=/data/SVTSoftware/SVTSW/WPAgent

ExecStart=/data/SVTSoftware/SVTSW/WPAgent/WPAgent.sh listen CERN

Restart=always
RestartSec=2
TimeoutStartSec=120

Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONNOUSERSITE=1"

[Install]
WantedBy=multi-user.target