<epic-layout-light-header-title>
    <div class="d-flex align-items-center">
        <epic-breadcrumbs [breadcrumbs]="breadcrumbs()" [size]="'large'"/>
    </div>
</epic-layout-light-header-title>

@if (chipFetchOneProcessing().processing) {
    <epic-loader [fillAllSection]="true"/>
} @else if (chipFetchOneProcessing().processingError) {
    <epic-content-error>
        {{ chipFetchOneProcessing().processingError | epicContentErrorMessage }}
    </epic-content-error>
} @else {
    <div class="h-100 d-flex w-100">
        <div class="e2e-container flex-row">
            <div style="width: 320px" class="epic-bg-color-neutral-0 overflow-auto epic-border-style-right--solid position-relative">
                @if (chip()) {
                    <div class="d-flex justify-content-between align-items-center p-3 pb-0">
                        <div class="epic-font-title">
                            {{ chip().serialNumber }}
                        </div>

                        <button [matMenuTriggerFor]="menu" epicStrokedButton mat-icon-button>
                            <epic-icon name="more_vert"/>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onOpenLocationHistory()">
                                <epic-icon [name]="'history'" matMenuItemIcon/>
                                Location History
                            </button>
                            <mat-divider/>
                            <button mat-menu-item (click)="onUpdateLocation()">
                                <epic-icon [name]="'location_on' | epicIconMatOutlined" matMenuItemIcon/>
                                Update Location
                            </button>
                        </mat-menu>
                    </div>

                    <epic-chip-info [chip]="chip()"/>

                    <!-- PARENT ASIC -->
                    @if (asic()) {
                        <mat-divider/>
                        <div class="p-3">
                            <div class="row py-1">
                                <div class="col-lg-6 epic-color-neutral-300 epic-font-body-sm">
                                    ASIC
                                </div>
                                <div class="col-lg-6 epic-font-label">
                                    <a [routerLink]="['/asics/details', asic().id]">
                                        {{ asic().serialNumber }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- ./PARENT ASIC -->

                    <!-- CHIP BLOCKS -->
                    @if (chipBlocks().length) {
                        <mat-divider/>
                        <div class="p-3">
                            <div class="row py-1">
                                <div class="col-lg-6 epic-color-neutral-300 epic-font-body-sm">
                                    Chip Block
                                </div>
                                <div class="col-lg-6 epic-font-label d-flex flex-column gap-2">
                                    @for (chipBlock of chipBlocks(); track chipBlock.id) {
                                        <a [routerLink]="['/chip-blocks/details', chipBlock.id]"
                                           [matTooltip]="chipBlock.chipBlockType">
                                            {{ chipBlock.serialNumber }}
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <!-- ./CHIP BLOCKS -->
                }
            </div>

            <div class="e2e-container__body-with-scroll p-3">
                <router-outlet/>
            </div>
        </div>
    </div>
}
